:root{
    --purchase-button:#0071e3;
}

.nav-box{
    background-color: rgba(0, 0, 0, 0.82);
}

.nav-box ul{
    max-width: 996px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f5f5f7;
    font-size: 12px;
    padding: 0 15px;
}

.nav-box li{
    position: relative;
}

.nav-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.nav-back{
    display: inline-block;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;
}

.nav-back:hover{
    opacity: 1;
}

.nav-box a{
    background-position-y: 2px;
}

.nav-apple{
    background-image: url(../img/nav_apple_large.svg);
    width: 30px;
}

.nav-store{
    background-image: url(../img/nav_store_large.svg);
    width: 30px;
}

.nav-mac{
    background-image: url(../img/nav_mac_large.svg);
    width: 30px;
}

.nav-ipad{
    background-image: url(../img/nav_ipad_large.svg);
    width: 30px;
}

.nav-watch{
    background-image: url(../img/nav_watch_large.svg);
    width: 35px;
}

.nav-airpods{
    background-image: url(../img/nav_airpod_large.svg);
    width: 45px;
}

.nav-tvhome{
    background-image: url(../img/nav_tvhome_large.svg);
    width: 40px;
}

.nav-onlyapple{
    background-image: url(../img/nav_onlyapple_large.svg);
    width: 78px;
}

.nav-acc{
    background-image: url(../img/nav_acc_large.svg);
    width: 40px;
}

.nav-support{
    background-image: url(../img/nav_support_large.svg);
    width: 40px;
}

.nav-search{
    background-image: url(../img/nav_search_large.svg);
    width: 30px;
}

.nav-bag{
    background-image: url(../img/nav_bag_large.svg);
    width: 30px;
}

.pc-hidden{
    display: none;
}

.hamburger{
    width: 30px;
    height: 40px;
    background-color: wheat;
}

@media screen and (max-width: 833px) {
    .nav-box ul{
        height: 48px;
    }
    
    .mobile-hidden{
        display: none;
    }

    .pc-hidden{
        display: block;
    }
}

body{
    background-color: #f5f5f7;;
}

#menu{
    background-color: black;
    padding: 10px 0;
}

.menu-box{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}

.menu-box li{
    margin: 0 15px;
}

.menu-box span{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #f5f5f7;
    margin: 0px 5px;
}

.menu-box span:hover{
    color: #06c;
}

.menu-box figure{
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 60px;
    margin-bottom: 4px;
}

.new{
    color: #f56300;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    margin-top: 3px;
}

.menu-ipadpro{
    background-image: url(../img/menu_ipadpro_large.svg);
    background-size: 50px 60px;
}

.menu-ipadair{
    background-image: url(../img/menu_ipadair_large.svg);
}

.menu-ipad{
    background-image: url(../img/menu_ipad_large.svg);
    width: 32px;
}

.menu-ipadmini{
    background-image: url(../img/menu_ipadmini_large.svg);
}

.menu-compare{
    background-image: url(../img/menu_compare_large.svg);
}

.menu-applepencil{
    background-image: url(../img/menu_apple_pencil_large.svg);
    background-size: 3px;
}

.menu-keyboard{
    background-image: url(../img/menu_keyboard_large.svg);
    width: 56px;
    margin-left: -7px;
}

.menu-airpods{
    background-image: url(../img/menu_airpods_large.svg);
}

.menu-acc{
    background-image: url(../img/menu_acc_large.svg);
}

.menu-ipados{
    background-image: url(../img/munu_ipadOS_large.svg);
}

.menu-ipadshop{
    background-image: url(../img/menu_ipad_shopping_large.svg);
}


/* 
articleeeeee
*/
.intro-article{
    background-color: black;
    overflow: hidden;
    height: 825px;
    padding: 65px 0;
}

.device-article{
    background-color: white;
    height: 747px;
    margin-top: 15px;
}

.device-article:first-child{
    height: 825px;
}

.device-article:last-child{
    padding-top: 120px;
    height: 700px;
}

.article-box{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.device-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

.device-content h2{
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 12px;
    letter-spacing: -2px;
}

.intro-article .device-content h2{
    color: white;
    position: relative;
}

.article-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

.air-icon{
    display: inline-block;
    background-image: url(../img/air_script_medium.png);
    background-repeat: no-repeat;
    background-size: 86px 43px;
    background-position-y: 7px;
    margin-left: 5px;
    width: 88px;
    height: 46px;
}

.mini-icon{
    display: inline-block;
    background-image: url(../img/mini_script_medium.png);
    background-repeat: no-repeat;
    width: 103px;
    height: 41px;
    background-position-y: 6px;
    margin-left: 10px;
}

.device-content p{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 34px;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.intro-article .device-content p{
    color: white;
}

.device-price{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-bottom: 6px;
}

.intro-article .device-price{
    color: white;
}

.device-button{
    width: 85px;
    height: 36px;
    background-color: var(--purchase-button);
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: 37px;
}

.device-more{
    position: relative;
}

.more-after{
    color: #2997ff;
}

.more-after::after{
    content: "";
    width: 6px;
    height: 6px;
    border-top: 1px solid #2997ff;
    border-right: 1px solid #2997ff;
    position: absolute;
    right: -11px;
    top: 16px;
    transform: rotate(45deg);
}

.device-image figure{
    width: 680px;
    height: 695px;
    background-repeat: no-repeat;
}

.air-device-content{
    width: 25%;
}

.air-device-image{
    width: 75%;
}

.air-image{
    background-image: url(../img/intro_ipad_air_medium.jpg);
    background-size: 680px 695px;
}

.pro-device-image{
    width: 30%;
    margin-top: 100px;
}

.pro-device-content{
    width: 30%;
}

.pro-image{
    background-image: url(../img/article_ipad_pro_medium.jpg);
    background-size: 1335px 598px;
}

.ipad-device-content{
    width: 25%;
}

.ipad-device-image{
    width: 75%;
}

.ipad-image{
    background-image: url(../img/article_ipad_medium.jpg);
    background-size: 856px 813px;
    background-position-y: -70px;
}

.mini-device-image{
    width: 50%;
}

.mini-device-content{
    width: 30%;
}

.mini-image{
    background-image: url(../img/article_mini_medium.jpg);
    background-size: 503px 579px;
}


